.grey-kpi-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f8fa;
    padding: 1.25rem;
    color: #666666;
    border-radius: 10px;
}

.grey-kpi-card-text {
    font-family: 'benton_sans_bbvamedium';
    font-size: .9rem;
    max-width: 140px;
}

.grey-kpi-card-kpi {
    font-family: 'bentonsansbbvabold';
    font-size: 1.1rem;
}